<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IoT CRUD</title>
  <script src="/main.js"></script>
</head>
<body>
    <p>Thing details:</p>
    <form action="/things/update/<%= thing._id %>" method="POST">
        <input type="text" name="type" value="<%= thing.type %>" />
        <input type="text" name="name" value="<%= thing.name %>" />
        <button id="update">Update</button>
    </form>
    <form id="deleteForm" action="/things/delete/<%= thing._id %>" method="POST">
        <a href="#" onclick="removeThing()">Remove thing</a>
    </form>
</body>
</html>