<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IoT CRUD</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <p>Things:</p>
  <form action="/things" method="POST">
    <div class="table">
      <ul>
          <li class="title">Type</li>
          <li><input type="text" placeholder="type" name="type"></li>
          <% for(var i=0; i<things.length; i++) {%>
              <li><%= things[i].type ?  things[i].type : "empty" %></li>
          <% } %>
      </ul>
      <ul>
        <li class="title">Name</li>
        <li><input type="text" placeholder="name" name="name"></li>
        <% for(var i=0; i<things.length; i++) {%>
          <li><%= things[i].name ? things[i].name : "empty" %></li>
        <% } %>
      </ul>
      <ul>
          <li class="title">&nbsp;</li>
          <li><button type="submit">Add</button></li>
          <% for(var i=0; i<things.length; i++) {%>
              <li><a href="/things/<%= things[i]._id %>">edit</a></li>
          <% } %>
      </ul>  
    </div>
  </form>
</body>
</html>